# Archivos y carpetas generados por Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Archivos de compilación
bin/
obj/
out/

# Archivos de paquetes
*.nupkg
*.snupkg
packages/
*.dll
*.exe
*.pdb
*.cache
*.log

# Archivos de configuración de usuario
*.ide.config
*.ide.csproj.user

# Archivos de publicación
publish/
app.publish/

# Archivos de dependencias
project.lock.json
project.fragment.lock.json
artifacts/

# Archivos de sistema operativo
.DS_Store
Thumbs.db
desktop.ini

# Archivos de configuración de herramientas
*.vsconfig
*.vscode/

# Archivos de seguridad
secrets.json
*.key

# Archivos de contenedores y entornos
docker-compose.override.yml
.env
.env.*

# Archivos de logs
*.log
logs/

# Archivos de cobertura de pruebas
*.coverage
*.coveragexml
coverage.opencover.xml
coverage.cobertura.xml

# Archivos de migraciones
Migrations/

# Archivos de caché
*.swp
*.bak
*.tmp
*.temp

# Angular Files below

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db

